<!DOCTYPE html>

<html lang="en">
    
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body class="about" style="background-image: url(/static/images/prague.jpg)" >
    <h1>About Time Log Calculator</h1>
    <p>The Time Log Calculator was conceived as a simple way for therapists<br> or other
      employees who have to clock in and out of work multiple times<br> per day to 
      accurately calculate daily total work hours and minutes for<br> productivity and 
      time tracking business functions.
    </p>

    <h1>Contact: <span style="color:rgb(77, 173, 58); font-size: 1.5rem">NThomas1069@gmail.com</span></h1>


    <span class="link"><a href="/">&larr; BACK</a></span><br><br>
  </body>
</html>
</html>